body {
    width: 75%;
    margin: 0 auto;
    color: #3B7D45;
    background-color: #e1eedd;
    font-family: sans-serif;
}

main {
    width: 100%;
    height: 80%;
    margin-top: 2%;
    display: grid;
    grid-template-rows: 20% 20% 15%;
    grid-template-columns: 1fr 1fr;
    row-gap: 5em;
    justify-items: start;
    align-items: center;
    background-color: #fefbe9;
    border-radius: 1em;
    border: 1px solid rgb(75, 38, 38);
}

header {
    margin-top: 1%;
    height: 7%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    border-radius: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-color: #fefbe9;
    border: 1px solid rgb(75, 38, 38);
}

header h1{
    justify-self: center;
    align-self: center;
    color: #f6c453;
}

h2 {
    color: #f0a04b;
}

#head-container{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}


/*nav {
    justify-self: center;
    align-self: center;
}*/

nav ul{
    display: flex;
}

nav ul li {
    padding: 1em;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:#3B7D45;
}

#container-change-colormode {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-background {
    width: 4em;
    height: 1.8em;
    background-color: #3B7D45;
    border-radius: 1em;
    z-index: 0;
}

#button-circle {
    width: 1.8em;
    height: 1.8em;
    border-radius: 1em;
    background-color: white;
    z-index: 1;
    position: relative;
    right: 4em;
    border: 1px solid #e1eedd;
}

#me {
    justify-self: center;
}

.img-container {
    width: 50%;
    height: 200px;
    overflow: hidden;
    justify-self: center;
    align-self: center;
}

.img-container img {
    max-width: 100%;
    height: auto;
    display: block;
}

#projects {
    grid-column: 1/ span2;
    justify-self: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
}


#projects ul {
    padding: 0;
}

#projects ul li {
    padding: 0.5em 0;
}

#skills {
    justify-self: center;
    grid-column: 1 / span2;
}