*{
    margin: 0;
    padding: 0;
}

body {
    width: 75%;
    margin: 0 auto;
    color: #3B7D45;
    background-color: #e1eedd;
    font-family: sans-serif;
}
/*Header*/
header {
    margin-top: 1em;
    height: 7em;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    border-radius: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-color: hsl(51, 91%, 95%);
    border: 1px solid rgb(75, 38, 38);
}

#head-container{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    justify-self: center;
    align-self: center;
    color: #f6c453;
}

nav ul{
    display: flex;
}

nav ul li {
    padding: 1em;
}

li {
    list-style-type: none;
    width: 80%;
}

a {
    text-decoration: none;
    color:#3B7D45;
}

#container-change-colormode {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-background {
    width: 4em;
    height: 1.8em;
    background-color: #3B7D45;
    border-radius: 1em;
    z-index: 0;
}

#button-circle {
    width: 1.8em;
    height: 1.8em;
    border-radius: 1em;
    background-color: white;
    z-index: 1;
    position: relative;
    right: 4em;
    border: 1px solid #e1eedd;
}

/*Main*/

main {
    width: 100%;
    height: 80em;
    margin-top: 2%;
    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-template-columns: 1fr 1fr 2fr;
    row-gap: 10em;
    column-gap: 5em;
    justify-items: start;
    align-items: center;
    border-radius: 1em;
    border: 1px solid rgb(75, 38, 38);
}

h2 {
    color: #f0a04b;
}

/*Über Mich und img*/

#left-container {
    grid-column: 1/3;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fefbe9;
    align-self: center;
    justify-self: center;
    height: 90%;
    width: 90%;
    border-radius: 1em;
} 

#me {
    justify-self: center;
    align-self: start;
}

.img-container {
    width: 50%;
    height: 200px;
    overflow: hidden;
    justify-self: center;
    align-self: start;
}

.img-container img {
    max-width: 100%;
    height: auto;
    display: block;
}

h2 {
    color: #f0a04b;
}

/*Projekte*/

#projects {
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 1em;
    background-color: hsl(51, 91%, 95%);
}


#projects-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: start;
    align-items: center;
    overflow: scroll;
}

.list-element {
    width: 80%;
    /*height: 50%;
    border: 1px solid rgb(75, 38, 38);*/
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 1em;
}

#projects li {
    height: 2em;
}

.tab {
    width: 100%;
    height: 2em;
    /*border: 1px solid rgb(75, 38, 38);*/
    border-bottom: 1px solid rgb(75, 38, 38);
    border-top: 1px solid rgb(75, 38, 38);
    border-right: 1px solid rgb(75, 38, 38);
    border-left: 1px solid rgb(75, 38, 38);
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: relative;
}

.tab:hover {
    background-color: hsl(51, 91%, 90%);
    font-weight: bolder;
    font-size: 18px;
}

.tab::after {
    content: "";
    border: 10px solid #3B7D45;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    position: absolute;
    right: 16px;
    top: 12px;
}

.project-description {
    width: 100%;
    height: 80%; 
    display: none;
}

/*Skills*/

#skills {
    grid-column: 1 /4;
    width: 90%;
    height: 80%;
    text-align: center;
    border-radius: 1em;
    background-color: #fefbe9;
    margin-left: 1em;
    margin-right: 1em;
    justify-self: center;
    align-self: start;
    position: relative;
    bottom: 5em;
}

